# Model and Cost Function


## Model Representation

Como discutido nas aulas, a seguinte notação é utilizada a representação do problema:

* $m$: Quantidade de exemplos existentes;
* $x^{(i)}$: Representação de um exemplo/instância. O sobrescrito $i$ indica qual exemplo estamos nos referindo;
* $y^{(i)}$: Saída/resultado do modelo.

Dado um conjunto de dados disponível para a criação/treinamento de um modelo (no caso do estudo, um modelo de regressão linear de uma única variável), deseja-se gerar uma função h que aproxime os valores de entrada dos valores de saída. No caso da regressão linear, temos:

$$h_\theta(x) = \theta_0 + \theta_1x$$

onde $x$ é a variável de entrada, e $y = h_\theta (x) $.

Exemplificando um pouco a partir do dataset do projeto da semana 2:

In [2]:
# Utilizando o pandas para a leitura do dataset.
import pandas as pd
dataset = pd.read_csv('../../data/week2/ex1data1.txt', header=None)

          0         1
0    6.1101  17.59200
1    5.5277   9.13020
2    8.5186  13.66200
3    7.0032  11.85400
4    5.8598   6.82330
..      ...       ...
92   5.8707   7.20290
93   5.3054   1.98690
94   8.2934   0.14454
95  13.3940   9.05510
96   5.4369   0.61705

[97 rows x 2 columns]

# Referências

* Model Representation: https://www.coursera.org/learn/machine-learning/supplement/cRa2m/model-representation
*